/*
	CONTAINERS:
	EASILY CREATE MOBILE OR DESKTOP WEB UIs.
	DEVELOPED BY REOB
	BRAZIL - BAHIA - SALVADOR

	CONTACT US:
	EMAIL: contact.reob@gmail.com
	PLEASE WRITE THE EMAIL AT ENGLISH OR PORTUGUESE ONLY.

	CONTAINERS IS FREE TO USE FOR PERSONAL OR COMMERCIAL SITES,
	BUT YOU SHOULD RETAIN THESE COMMENTS IN THE FILE SERVED.
	IF YOU PREFER TO SERVE THIS FILE WITHOUT THESE COMMENTS, PLEASE CONTACT US BY EMAIL TO BUY A LICENCE.

	REOB CAN NOT BE CHARGED BY ANY DAMAGE OR PREJUDICE, DERIVED OR NOT, OF THE USE OF THIS SOFTWARE.
	IF YOU DECIDED TO USE IT, TAKE ALL THE RISK FOR YOURSELF.

	=================================================================================================
	- FORMAT CLASSES IN THIS FILE:
	 - SET TEXT ALIGN:
		- left-text
		- center-text
		- right-text
	 - SET TEXT TRANSFORM:
		- upper-text
		- lower-text
		- capitalize
	 - SET DISPLAY TO NONE:
		- none
	 - SET WIDTH (as percentage of screen size):
		- w00 (set display to none too)
		- w05, w10, w15, w20, w25, w30, w35, w40, w45, w50
		- w55, w60, w65, w70, w75, w80, w85, w90, w95, w100
	 - SET HEIGHT (as percentage of screen size):
		- h00 (set display to none too)
		- h05, h10, h15, h20, h25, h30, h35, h40, h45, h50
		- h55, h60, h65, h70, h75, h80, h85, h90, h95, h100
	 - SET HORIZONTAL PADDING (padding left and right as percentage of screen size):
		- ph00, ph05, ph10, ph15, ph20
	 - SET VERTICAL PADDING (padding top and bottom as percentage of screen size):
		- pv00, pv05, pv10, pv15, pv20

	- COMPONENTS IN THIS FILE:
	 - CSS ONLY:
		- REOB-CONTAINER
		- REOB-CONTAINER-GRID
		- REOB-HBOX
		- REOB-VBOX
		- REOB-MENU
		- REOB-SCROLL
		- REOB-SLIDE-TAB
		- REOB-SWITCH
		- REOB-FILE
		- REOB-SEARCH
		- REOB-SUBMIT-BUTTON
		- REOB-DOWNLOAD-BUTTON
		- REOB-TABLE-PAGINATION
	 - CSS + JS:
		- REOB-MULTISELECT
		- REOB-UNISELECT
		- REOB-PROGRESS-BAR
	=================================================================================================

	=========================================
	STRUCTURE OF REOB-CONTAINER COMPONENT:
	=========================================

	<div class="reob-container">
		<div class="header"></div>
		<div class="left"></div>
		<div class="middle"></div>
		<div class="right"></div>
		<div class="footer"></div>
	</div>

	===============
	EXAMPLE OF USE:
	===============

	<div class="reob-container">
		<div class="header w30 h05"></div>
		<div class="left"></div>
		<div class="middle"></div>
		<div class="right"></div>
		<div class="footer"></div>
	</div>

	To have a header with width of 30% and height of 5% of screen size.
	Have a look at our demo, available at github, to see how to use containers to create different layouts.

	===========================================
	STRUCTURE OF REOB-CONTAINER-GRID COMPONENT:
	===========================================

	<div class="reob-container-grid">
		<div class="reob-container-grid-item">
			<!-- Your code goes here -->
		</div>
	</div>

	=========================================
	STRUCTURE OF REOB-HBOX COMPONENT:
	=========================================

	<div class="reob-hbox">
		<!-- Your code goes here -->
	</div>

	Just copy this structure into your code.

	=========================================
	STRUCTURE OF REOB-VBOX COMPONENT:
	=========================================

	<div class="reob-vbox">
		<!-- Your code goes here -->
	</div>

	Just copy this structure into your code.

	=========================================
	STRUCTURE OF REOB-MENU COMPONENT:
	=========================================

	<ul class="reob-menu">
		<li><a href="#">Menu-1</a></li>
		<li><a href="#">Menu-2</a></li>
		<li><a href="#">Menu-with-submenu-1</a>
			<ul id="reob-submenu">
				<li><a href="#">Submenu-1</a></li>
				<li><a href="#">Submenu-2</a></li>
				<li><a href="#">Submenu-3</a></li>
			</ul>
		</li>
	</ul>

	=========================================
	STRUCTURE OF REOB-SCROLL COMPONENT:
	=========================================

	<div class="reob-scroll">
		<!-- Your code goes here -->
	</div>

	=========================================
	STRUCTURE OF REOB-SLIDE-TAB COMPONENT:
	=========================================

	<div class="reob-slide-tab">
		<!-- Your code goes here -->
	</div>

	====================================
	STRUCTURE OF REOB-SWITCH COMPONENT:
	====================================

	<div class="reob-switch">
		<label>NO</label>	<!-- OPTIONAL: change the label or let it blank -->
		<label>
			<input type="checkbox" name="">		<!-- NECESSARY: SET NAME -->
			<span class="slider"></span>
		</label>
		<label>YES</label>	<!-- OPTIONAL: change the label or let it blank -->
	</div>

	====================================
	STRUCTURE OF REOB-FILE COMPONENT:
	====================================

	<input type="file" class="reob-file" id="" name="">		<!-- NECESSARY: SET ID AND NAME -->

	IMPORTANT: Apply reob-file class only to <input type="file"> elements.

	====================================
	STRUCTURE OF REOB-SEARCH COMPONENT:
	====================================

	<div class="reob-search">
		<div class="tooltip">
			<input type="search" placeholder="Filter" onkeypress="">	<!-- NECESSARY: SET THE ONKEYPRESS CALL FUNCTION HERE -->
			<button onclick=""><img src="../icons/fa-search.svg"></img></button>	<!-- repeat the call function here -->
			<span class="tooltiptext"><!-- your tooltip goes here --></span>
		</div>
	</div>

	==========================================
	STRUCTURE OF REOB-SUBMIT-BUTTON COMPONENT:
	==========================================

	<button class="reob-submit-button" type="submit">SUBMIT
		<img src="../icons/fa-upload.svg"></img>
	</button>

	============================================
	STRUCTURE OF REOB-DOWNLOAD-BUTTON COMPONENT:
	============================================

	<button class="reob-download-button">DOWNLOAD
		<img src="../icons/fa-download.svg"></img>
	</button>

	=============================================
	STRUCTURE OF REOB-TABLE-PAGINATION COMPONENT:
	=============================================

	<div class="reob-table-pagination" id="">		<!-- NECESSARY: SET ID -->
		<button class="reob-fetch-prior-data" type="submit" onclick="location.href=':url/:report?offset=:offset'">PRIOR	<!-- NECESSARY: CHANGE :url, :report and :offset TO RIGHT VALUES -->
			<img src="../icons/fa-angle-left.svg"></img>
		</button>
		<button class="reob-fetch-next-data" type="submit" onclick="location.href=':url/:report?offset=:offset'">NEXT	<!-- NECESSARY: CHANGE :url, :report and :offset TO RIGHT VALUES -->
			<img src="../icons/fa-angle-right.svg"></img>
		</button>
	</div>

	===============
	EXAMPLE OF USE:
	===============

	<div class="reob-table-pagination" id="pages">
		<button class="reob-fetch-prior-data" type="submit" onclick="location.href='http://localhost/my_report?offset=10'">PRIOR
			<img src="../icons/fa-angle-left.svg"></img>
		</button>
		<button class="reob-fetch-next-data" type="submit" onclick="location.href='http://localhost/my_report?offset=30'">NEXT
			<img src="../icons/fa-angle-right.svg"></img>
		</button>
	</div>

	=============================================
	STRUCTURE OF REOB-MULTISELECT COMPONENT:
	=============================================

	<div class="reob-multiselect" id="">	<!-- NECESSARY: SET ID -->
		<div class="selected">
			<!-- Do not fill this section by hand. Use ReobMultiSelect.selectOption(id, value) instead. -->
		</div>
		<div class="options">
		</div>
		<input type="hidden">
	</div>

	Just copy this structure into your code, set id, and fill the options.
	Do not forget to set onclick event of option exactly like in the example below.

	===============
	EXAMPLE OF USE:
	===============

	<div class="reob-multiselect" id="ms1">
		<div class="selected">
			<!-- Do not fill this section by hand. UseReobMultiSelect.selectOption(id, value) instead. -->
		</div>
		<div class="options">
			<optgroup label="Group 1">	<!-- optgroup is optional -->
				<option onclick="ReobMultiSelect.addTag(this)" value="Option 1">Option 1</option>
				<option onclick="ReobMultiSelect.addTag(this)" value="Option 2">Option 2</option>
				<option onclick="ReobMultiSelect.addTag(this)" value="Option 3">Option 3</option>
			</optgroup>
			<optgroup label="Group 2">	<!-- optgroup is optional -->
				<option onclick="ReobMultiSelect.addTag(this)" value="Option 4">Option 4</option>
				<option onclick="ReobMultiSelect.addTag(this)" value="Option 5">Option 5</option>
			</optgroup>
		</div>
		<input type="hidden">
	</div>

	=============================================
	STRUCTURE OF REOB-UNISELECT COMPONENT:
	=============================================

	<div class="reob-uniselect" id="">	<!-- NECESSARY: SET ID -->
		<div class="selected">
			<!-- Do not fill this section by hand. Use ReobUniSelect.selectOption(id, value) instead. -->
		</div>
		<div class="options">
		</div>
		<input type="hidden">
	</div>

	Just copy this structure into your code, set id, and fill the options.
	Do not forget to set onclick event of option exactly like in the example below.

	===============
	EXAMPLE OF USE:
	===============

	<div class="reob-uniselect" id="us1">
		<div class="selected">
			<!-- Do not fill this section by hand. Use ReobUniSelect.selectOption(id, value) instead. -->
		</div>
		<div class="options">
			<optgroup label="Group 1">	<!-- optgroup is optional -->
				<option onclick="ReobUniSelect.addTag(this)" value="Option 1">Option 1</option>
				<option onclick="ReobUniSelect.addTag(this)" value="Option 2">Option 2</option>
				<option onclick="ReobUniSelect.addTag(this)" value="Option 3">Option 3</option>
			</optgroup>
			<optgroup label="Group 2">	<!-- optgroup is optional -->
				<option onclick="ReobUniSelect.addTag(this)" value="Option 4">Option 4</option>
				<option onclick="ReobUniSelect.addTag(this)" value="Option 5">Option 5</option>
			</optgroup>
		</div>
		<input type="hidden">
  </div>

	=============================================
	STRUCTURE OF REOB-PROGRESS-BAR COMPONENT:
	=============================================

	<div class="reob-progressbar" id="">	<!-- NECESSARY: SET ID -->
		<div></div>
		<label>Total: 0%</label>
	</div>
*/

/* REMOVE BROWSER DEFAULT: MARGIN, PADDING AND BORDER (for all components) */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* REMOVE BROWSER DEFAULT: UNDERLINE (for <a> tags) */
a {
	text-decoration: none;
}

/* STYLING INPUT */
input {
	border-bottom: 1px;
	border-style: solid;
	border-color: #999
}

/* SET BODY SIZE */
body {
	width: 100vw;
	height: 100vh;
}

/* REOB-FORMAT-CLASSES */
*.left-text   { text-align: left; }
*.center-text { text-align: center; }
*.right-text  { text-align: right; }
*.upper-text  { text-transform: uppercase; }
*.lower-text  { text-transform: lowercase; }
*.capitalize  { text-transform: capitalize; }

*.none { display: none; }

*.w00 { display: none; width: 0; }
*.w05 { width: 5%  !important; }
*.w10 { width: 10% !important; }
*.w15 { width: 15% !important; }
*.w20 { width: 20% !important; }
*.w25 { width: 25% !important; }
*.w30 { width: 30% !important; }
*.w35 { width: 35% !important; }
*.w40 { width: 40% !important; }
*.w45 { width: 45% !important; }
*.w50 { width: 50% !important; }
*.w55 { width: 55% !important; }
*.w60 { width: 60% !important; }
*.w65 { width: 65% !important; }
*.w70 { width: 70% !important; }
*.w75 { width: 75% !important; }
*.w80 { width: 80% !important; }
*.w85 { width: 85% !important; }
*.w90 { width: 90% !important; }
*.w95 { width: 95% !important; }
*.w100 { width: 100% !important; }

*.h00 { display: none; height: 0; }
*.h05 { height: 5%  !important; }
*.h10 { height: 10% !important; }
*.h15 { height: 15% !important; }
*.h20 { height: 20% !important; }
*.h25 { height: 25% !important; }
*.h30 { height: 30% !important; }
*.h35 { height: 35% !important; }
*.h40 { height: 40% !important; }
*.h45 { height: 45% !important; }
*.h50 { height: 50% !important; }
*.h55 { height: 55% !important; }
*.h60 { height: 60% !important; }
*.h65 { height: 65% !important; }
*.h70 { height: 70% !important; }
*.h75 { height: 75% !important; }
*.h80 { height: 80% !important; }
*.h85 { height: 85% !important; }
*.h90 { height: 90% !important; }
*.h95 { height: 95% !important; }
*.h100 { height: 100% !important; }

*.ph00 { padding-left:  0;  padding-right:  0  !important; }
*.ph01 { padding-left:  1%; padding-right:  1% !important; }
*.ph02 { padding-left:  2%; padding-right:  2% !important; }
*.ph03 { padding-left:  3%; padding-right:  3% !important; }
*.ph04 { padding-left:  4%; padding-right:  4% !important; }
*.ph05 { padding-left:  5%; padding-right:  5% !important; }
*.ph10 { padding-left: 10%; padding-right: 10% !important; }
*.ph15 { padding-left: 15%; padding-right: 15% !important; }
*.ph20 { padding-left: 20%; padding-right: 20% !important; }
*.ph25 { padding-left: 25%; padding-right: 25% !important; }
*.ph30 { padding-left: 30%; padding-right: 30% !important; }

*.ph01mm { padding-left:  1mm; padding-right:  1mm !important; }
*.ph02mm { padding-left:  2mm; padding-right:  2mm !important; }
*.ph03mm { padding-left:  3mm; padding-right:  3mm !important; }
*.ph04mm { padding-left:  4mm; padding-right:  4mm !important; }
*.ph05mm { padding-left:  5mm; padding-right:  5mm !important; }

*.pv00 { padding-top:  0;  padding-bottom:  0  !important; }
*.pv01 { padding-top:  1%; padding-bottom:  1% !important; }
*.pv02 { padding-top:  2%; padding-bottom:  2% !important; }
*.pv03 { padding-top:  3%; padding-bottom:  3% !important; }
*.pv04 { padding-top:  4%; padding-bottom:  4% !important; }
*.pv05 { padding-top:  5%; padding-bottom:  5% !important; }
*.pv10 { padding-top: 10%; padding-bottom: 10% !important; }
*.pv15 { padding-top: 15%; padding-bottom: 15% !important; }
*.pv20 { padding-top: 20%; padding-bottom: 20% !important; }
*.pv25 { padding-top: 25%; padding-bottom: 25% !important; }
*.pv30 { padding-top: 30%; padding-bottom: 30% !important; }

*.pv01mm { padding-top:  1mm; padding-bottom:  1mm !important; }
*.pv02mm { padding-top:  2mm; padding-bottom:  2mm !important; }
*.pv03mm { padding-top:  3mm; padding-bottom:  3mm !important; }
*.pv04mm { padding-top:  4mm; padding-bottom:  4mm !important; }
*.pv05mm { padding-top:  5mm; padding-bottom:  5mm !important; }

/* REOB-CONTAINER */
div.reob-container {
	width: 100%;
	height: 100%;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
}

div.reob-container > div.header {
	width: 100% !important;
	height: 10%;
	float: left;
}

div.reob-container > div.left {
	width: 10%;
	height: 80%;
	float: left;
}

div.reob-container > div.middle {
	width: 80%;
	height: 80%;
	float: left;
}

div.reob-container > div.right {
	width: 10%;
	height: 80%;
	float: right;
}

div.reob-container > div.footer {
	width: 100% !important;
	height: 10%;
	float: left;
}

/* REOB-CONTAINER-GRID */
.reob-container-grid {
	display: grid;
	grid-gap: 1%;
	align-content: center;
}

.reob-container-grid-item {
	text-align: center;
}

/* REOB-HBOX */
.reob-hbox {
	width: 100%;
}

.reob-hbox * {
	display: inline-block;
	height: 100%;
}

.reob-hbox .reob-vbox * {
	display: block;
}

/* REOB-VBOX */
.reob-vbox {
	height: 100%;
}

.reob-vbox * {
	display: block;
	width: 100%;
}

.reob-vbox .reob-hbox * {
	display: inline-block;
}

/* REOB-MENU */
#reob-menu > li { list-style-type: none; display: inline-block; padding: 2mm 3mm; }
#reob-submenu > li { list-style-type: none; }

#reob-menu > li > a, #reob-submenu > li > a {
	color: #fff;
	text-decoration: none;
}

#reob-menu li:hover {
	background-color: #ccc;
}

#reob-menu li:hover a {
	color: #333;
}

#reob-menu li:hover #reob-submenu {
	display: block;
}

#reob-submenu {
	display: none;
	float: left;
	position: absolute;
	margin-left: -3.3mm;
	z-index: 3;
	text-align: left;
	padding: 2mm 2mm 2mm 1%;
	border: 1px solid #333;
	border-top: 0;
	background-color: #ccc;
}

#reob-submenu li {
	width: 95%;
	display: block;
	line-height: 190%;
}

#reob-submenu li a {
	width: 100%;
	color: #333;
	background-color: #ccc;
}

#reob-submenu li:hover,
#reob-submenu li:hover a {
	color: #fff;
	background-color: #333;
}

/* REOB-SCROLL */
.reob-scroll {
	overflow: auto;
	z-index: 3;
}

/* REOB-SLIDE-TAB */
.reob-slide-tab {
	display: block;
	position: absolute;
	left: 0;
	top: 80vh;
	width: 100vw;
	height: 20vh;
	transition: top 2s;
	background-color: #fff;
	opacity: 100%;
	overflow: scroll;
	z-index: 5;
}

.reob-slide-tab:hover {
	display: block;
	top: 5vh;
	height: 90vh;
}

/* REOB-SWITCH */
.reob-switch {
	position: relative;
	margin-top: 3mm;
	margin-bottom: 3mm;
	display: inline-block;
	height: 5mm;
}

.reob-switch label:first-child {
	margin-left: 0;
	margin-top: 3px;
}

.reob-switch label:last-child {
	margin-left: 14mm;
	margin-top: 3px;
}

.reob-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.reob-switch .slider {
	position: absolute;
	cursor: pointer;
	width: 12mm;
	height: 5mm;
	margin-top: 0;
	margin-left: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 3mm;
}

.reob-switch .slider:before {
	position: absolute;
	content: "";
	height: 3mm;
	width: 3mm;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.reob-switch input:checked + .slider {
	background-color: #28f;
}

.reob-switch input:focus + .slider {
	box-shadow: 0 0 1px #28f;
}

.reob-switch input:checked + .slider:before {
	-webkit-transform: translateX(7mm);
	-ms-transform: translateX(7mm);
	transform: translateX(7mm);
}

/* REOB-FILE */
.reob-file::-webkit-file-upload-button {
	display: none;
}

.reob-file::before {
	content: 'Selecione a Planilha a Importar';
	display: inline-block;
	background-color: #ccc;
	border: 1px solid #999;
	border-radius: 6px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
}

.reob-file:hover::before {
	border-color: #333;
}

.reob-file:active::before {
	background-color: #ccc;
}

/* REOB-SEARCH */
.reob-search input[type=search] {
	padding: 2.3mm;
	font-size: 16px;
	border: 1px solid #666;
	float: left;
	height: 10mm;
	background: #eee;
	border-radius: 6px 0 0 6px;
}

.reob-search input[type=search]:focus {
	outline-width: 0;
}

.reob-search button {
	float: left;
	margin-left: 0mm;
	width: 9mm;
	height: 10mm;
	background: #28f;
	color: #fff;
	font-size: 16px;
	border: 1px solid #666;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	border-radius: 0 6px 6px 0;
	padding: 10px 0 10px 0;
}

.reob-search img {
	width: 16px;
	margin-left: -1px;
	filter: invert(100%);
}

.reob-search button:hover {
	background: #18e;
}

.reob-search::after {
	content: "";
	clear: both;
	display: table;
}

.reob-search .tooltip {
	position: relative;
	display: inline-block;
}

.reob-search .tooltip .tooltiptext {
	top: -8mm;
	left: 2vw;
	visibility: hidden;
	width: 70mm;
	background-color: #28f;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 3;
}

.reob-search .tooltip:hover .tooltiptext {
	visibility: visible;
}

/* REOB-SUBMIT-BUTTON
	REOB-DOWNLOAD-BUTTON
	REOB-TABLE-PAGINATION */
.reob-submit-button, .reob-download-button, .reob-table-pagination button {
	padding: 2mm;
	min-height: 7mm;
	cursor: pointer;
	border: 1px solid #666;
	border-radius: 6px;
	font-weight: 600;
}

.reob-submit-button:hover, .reob-download-button:hover, .reob-table-pagination button:hover {
	border-color: #333;
}
.reob-submit-button img, .reob-download-button img, .reob-table-pagination button img {
	position: relative;
	float: right;
	width: 10px;
	margin-left: 1mm;
	margin-right: 1mm;
	margin-top: 2px;
}

.reob-table-pagination button img {
	height: 10px;
	margin-top: 3px;
}

.reob-table-pagination > .reob-fetch-prior-data {
	padding-right: 4mm;
}

.reob-table-pagination > .reob-fetch-next-data {
	padding-left: 4mm;
}

.reob-table-pagination > .reob-fetch-prior-data img {
	float: left;
}

/* REOB-MULTISELECT */
.reob-multiselect {
	width: 60%;
	height: 9mm;
	border: 1px solid #666;
	border-radius: 6px;
	background-color: #ccc;
}

.reob-multiselect:hover {
	border-color: #333;
	border-radius: 6px 6px 6px 0;
}

.reob-multiselect .selected {
	position: absolute;
	height: 7mm;
	margin-top: -0.1mm;
	padding: 2mm;
}

.reob-multiselect .selected > option {
	display: inline;
	margin-left: 1mm;
	margin-right: 1mm;
	padding: 1mm;
	border: 1px solid #333;
	color: #fff;
	background-color: #333;
	cursor: pointer;
}

.reob-multiselect .selected > option::before {
	content: "× ";
}

.reob-multiselect:hover .options {
	display: block;
}

.reob-multiselect .options {
	display: none;
	position: absolute;
	margin-left: -1px;
	margin-top: 9mm;
	border: 1px solid #333;
	width: 20%;
	overflow-y: scroll;
	max-height: 50mm;
	background-color: #fff;
	opacity: 100%;
	z-index: 99;
}

.reob-multiselect .options optgroup {
	margin: 1px 0 0 -1px;
	background-color: #fff;
}

.reob-multiselect .options option {
	list-style-type: none;
	padding: 1mm 1mm 1mm 3mm;
	color: #333;
	background-color: #ccc;
	cursor: pointer;
}

.reob-multiselect .options option:hover {
	color: #fff;
	background-color: #333;
	border-color: #fff;
}

/* REOB-UNISELECT */
.reob-uniselect {
	width: 60%;
	height: 9mm;
	border: 1px solid #666;
	border-radius: 6px;
	background-color: #ccc;
}

.reob-uniselect:hover {
	border-color: #333;
	border-radius: 6px 6px 6px 0;
}

.reob-uniselect .selected {
	position: absolute;
	height: 7mm;
	margin-top: -0.1mm;
	padding: 2mm;
}

.reob-uniselect .selected > option {
	display: inline;
	margin-left: 1mm;
	margin-right: 1mm;
	padding: 1mm;
	border: 1px solid #333;
	color: #fff;
	background-color: #333;
	cursor: pointer;
}

.reob-uniselect .selected > option::before {
	content: "× ";
}

.reob-uniselect:hover .options {
	display: block;
}

.reob-uniselect .options {
	display: none;
	position: absolute;
	margin-left: -1px;
	margin-top: 9mm;
	border: 1px solid #333;
	width: 20%;
	overflow-y: scroll;
	max-height: 50mm;
	background-color: #fff;
	opacity: 100%;
	z-index: 99;
}

.reob-uniselect .options optgroup {
	margin: 1px 0 0 -1px;
	background-color: #fff;
}

.reob-uniselect .options option {
	list-style-type: none;
	padding: 1mm 1mm 1mm 3mm;
	color: #333;
	background-color: #ccc;
	cursor: pointer;
}

.reob-uniselect .options option:hover {
	color: #fff;
	background-color: #333;
	border-color: #fff;
}

/* REOB-PROGRESS-BAR */
.reob-progress-bar {
	width: 100%;
	height: 10mm;
	margin-top: 5mm;
	margin-bottom: 3mm;
	background-color: #ccc;
	border: 1px solid #666;
	border-radius: 6px;
}

.reob-progress-bar > div {
	width: 0;
	height: 10mm;
	margin: 0;
	border-radius: 6px;
	background-color: #333;
}

.reob-progress-bar > label {
	position: relative;
	top: -9mm;
	margin-left: 3mm;
	color: #fff;
	float: left;
	font-weight: bold;
}
