/*
CONTAINERS.CSS:
DEVELOPED BY REOB
BRAZIL - BAHIA - SALVADOR

CONTACT US:
EMAIL: contact.reob@gmail.com
PLEASE WRITE THE EMAIL AT ENGLISH OR PORTUGUESE ONLY.

CONTAINERS.CSS IS FREE TO USE FOR PERSONAL OR COMMERCIAL SITES,
BUT YOU SHOULD RETAIN THESE COMMENTS IN THE FILE SERVED.
IF YOU PREFER TO SERVE THIS FILE WITHOUT THESE COMMENTS, PLEASE CONTACT US BY EMAIL TO BUY A LICENCE.

EASILY CREATE MOBILE OR DESKTOP WEB UIs.
TO MAKE THE STRUCTURE ADAPT ITSELF TO MANY DIFFERENT SCREEN SIZES, ALWAYS DEFINE SIZES AS PERCENTAGES.

REOB CAN NOT BE CHARGED BY ANY DAMAGE OR PREJUDICE, DERIVED OR NOT, OF THE USE OF THIS SOFTWARE.
IF YOU DECIDE TO USE IT, TAKE ALL THE RISK FOR YOURSELF.

USE THIS FILE TO FORMAT THE CONTAINER STRUCTURE DEFINED BELOW:

<div class="container">
    <div class="header"></div>
    <div class="left"></div>
    <div class="middle"></div>
    <div class="right"></div>
    <div class="footer"></div>
</div>

COPY THE STRUCTURE ABOVE TO YOUR CODE AND FORMAT DOING:

<div class="container">
    <div class="header w30 h05"></div>
    <div class="left"></div>
    <div class="middle"></div>
    <div class="right"></div>
    <div class="footer"></div>
</div>

TO HAVE A HEADER WITH WIDTH OF 30% AND HEIGHT OF 5% OF SCREEN SIZE.
HAVE A LOOK AT OUR DEMO, AVAILABLE AT GITHUB, TO SEE HOW TO USE CONTAINERS TO CREATE DIFFERENT LAYOUTS.
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

div.container {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
}

div.container > div.header {
    width: 100% !important;
    height: 10%;
    float: left;
}

div.container > div.left {
    width: 10%;
    height: 80%;
    float: left;
}

div.container > div.middle {
    width: 80%;
    height: 80%;
    float: left;
}

div.container > div.right {
    width: 10%;
    height: 80%;
    float: right;
}

div.container > div.footer {
    width: 100% !important;
    height: 10%;
    float: left;
}

div.centertext { text-align: center; }
div.righttext  { text-align: right; }
div.uppertext  { text-transform: uppercase; }
div.lowertext  { text-transform: lowercase; }
div.capitalize { text-transform: capitalize; }

div.none, 
div.w00, 
div.h00 { display: none; width: 0; height: 0; }

div.w05 { width: 5% !important; }
div.w10 { width: 10% !important; }
div.w15 { width: 15% !important; }
div.w20 { width: 20% !important; }
div.w25 { width: 25% !important; }
div.w30 { width: 30% !important; }
div.w35 { width: 35% !important; }
div.w40 { width: 40% !important; }
div.w45 { width: 45% !important; }
div.w50 { width: 50% !important; }
div.w55 { width: 55% !important; }
div.w60 { width: 60% !important; }
div.w65 { width: 65% !important; }
div.w70 { width: 70% !important; }
div.w75 { width: 75% !important; }
div.w80 { width: 80% !important; }
div.w85 { width: 85% !important; }
div.w90 { width: 90% !important; }
div.w95 { width: 95% !important; }
div.w100 { width: 100% !important; }

div.h05 { height: 5% !important; }
div.h10 { height: 10% !important; }
div.h15 { height: 15% !important; }
div.h20 { height: 20% !important; }
div.h25 { height: 25% !important; }
div.h30 { height: 30% !important; }
div.h35 { height: 35% !important; }
div.h40 { height: 40% !important; }
div.h45 { height: 45% !important; }
div.h50 { height: 50% !important; }
div.h55 { height: 55% !important; }
div.h60 { height: 60% !important; }
div.h65 { height: 65% !important; }
div.h70 { height: 70% !important; }
div.h75 { height: 75% !important; }
div.h80 { height: 80% !important; }
div.h85 { height: 85% !important; }
div.h90 { height: 90% !important; }
div.h95 { height: 95% !important; }
div.h100 { height: 100% !important; }
